<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_field">Multiply this:</label>
  <input id="first_field" type="text" name="first_number">

  <label for="second_field">with this:</label>
  <input id="second_field" type="text" name="second_number">

  <button>Multiply!</button>
</form>
